.changeAlert__container {
  margin-top: 1.6rem;
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
}

.changeAlert__container button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 1rem;
  color: white;
  font-weight: bold;
  background-color: #442f7e;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  transition: 0.3s ease;
}
