.TodoForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* position: fixed;
  bottom: 50vh; */
  width: 100%;
  min-width: 28rem;
  max-width: 40.5rem;
  padding: 2rem;
  border-radius: 1.6rem;
  background-color: #442f7e;
}

.TodoForm h2 {
  color: white;
  margin-bottom: 2rem;
}

.TodoForm input {
  width: 90%;
  height: 4rem;
  margin: 0 auto;
  /* padding-left: 2rem; */
  border-radius: 1.8rem;
  margin-bottom: 2.4rem;
  text-align: center;
  color: #442f7e;
  font-size: 1.8rem;
  border: none;
  outline: none;
}

.TodoForm input::placeholder {
  color: #442f7e;
}

.TodoForm button {
  min-width: 8rem;
  height: 2.8rem;
  font-size: 1.8rem;
  color: white;
  border-radius: 0.8rem;
  border: none;
  outline: none;
}

.TodoForm button:nth-child(1) {
  background-color: #00a780;
}
.TodoForm button:nth-child(2) {
  background-color: #f43030;
}

.TodoForm div {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
